*{
    margin: 0;
    padding: 0;
}
.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
ul{
    float: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 12px;
    margin-top: 17px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: #000000;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: #ff7200;
}
.p{
    background-position: left;
    font-size: 35px;
}

